.row.mx-auto.mb-3
  .col-lg-8.col-md-7
    include components/_quick-action
    include components/_chart-component
  .col-lg-4.col-md-5 
    include components/_mail-component
    include components/_chat-component
    