div.text-end.p-2.d-md-none.d-block
  a.me-2.text-light(href="#sidebar" data-toggle="sidebar")
    span(data-feather="x")
div.text-center.p-3.sidebar-logo 
  img.img-fluid.rounded-circle.shadow(src="images/admin.gif" alt="admin logo")
.lead.text-light.fw-light.sidebar-brand 
  h5.fw-light.mb-0  Company Name
  h6.fw-light.mb-0  Username
  p.text-muted.small.mb-0 person@admin.com
hr.bg-light

include _sidebar-menu