div.p-3.bg-white.rounded.shadow-sm
  p.lead.text-danger 
    span(data-feather="alert-circle", width=20,height=20)
    span  Quick Action
  p.small.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo suscipit mollitia ipsam obcaecati alias officiis excepturi blanditiis nisi odio. Maxime omnis iste delectus veritatis inventore eius officiis ratione, quam similique.
  div 
    button.btn.btn-sm.btn-success(title="config action")
      span(data-feather="check",width=20,height=15)
      span Confirm
    button.btn.btn-sm.btn-secondary(title="cancel or deny action")
      span(data-feather="x",width=20,height=15)
      span Deny